{{#each updateListRight}}
<li class="download__item">
    <div class="download__img">
        <img src="{{photo_100}}" class="download__avatar">
    </div>
    <h3 class="download__title title">{{first_name}} {{last_name}}</h3>
    <div class="download__del download__del_close"></div>
    <div class="hiden">{{id}}</div>
</li>
{{/each}}